body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(255, 166, 0, 0.15), rgba(238, 130, 238, 0.15));
    /* NOTE FOR LATER: have the background image opacity pulse based on master audio it would look so cool! */
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-bar {
    background: #444;
    padding: 5px;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    margin-right: auto;
}

#left div {
    display: inline;
    margin: 0 4px 0 0;
}

#left div[contenteditable] {
    width: min-content;
    outline: none;
    padding: 4px;
}

#left div[contenteditable]:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#mid button {
    border: none;
    background: none;
    outline: none;
    transition: 300ms;
    padding: 4px;
}

#mid button:hover {
    background: #00000055;
}


#right {
    margin-left: auto;
}

#not-top-bar {
    display: flex;
    height: 100%;
}