body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(255, 166, 0, 0.15), rgba(238, 130, 238, 0.15));
    /* NOTE FOR LATER: have the background image opacity pulse based on master audio it would look so cool! */
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-bar {
    background: #444;
    padding: 5px;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    margin-right: auto;
}

#left div {
    display: inline;
    margin: 0 4px 0 0;
}

#left div[contenteditable] {
    width: min-content;
    outline: none;
    padding: 4px;
}

#left div[contenteditable]:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#mid button {
    border: none;
    background: none;
    outline: none;
    transition: 300ms;
    padding: 4px;
}

#mid button:hover {
    background: #00000055;
}


#right {
    margin-left: auto;
}

#not-top-bar {
    display: flex;
    height: 80%;
}

#editor {
    width: 50%;
    background: black;
    padding: 2px;
    overflow: hidden;
}

.sheet {
    background: black;
    height: 100%;
    width: 100%;
    display: grid;
    overflow: auto;
}

.measures {
    padding: 4px;
    display: flex;
}

#position {
    width: 2px;
    background: fixed linear-gradient(90deg, orange, violet);
    position: relative;
    z-index: 400;
}

.bef-space {
    margin: 0 32px 0 0;
    width: 36px;
    height: 100%;
}

.measure-c {
    width: 150px;
    margin: 0;
    padding: 0 2px;
    box-sizing: border-box;
    height: 16px;
    border: white 1px solid;
}

.part-name {
    margin: 0 32px 0 0;
    height: 100%;
    min-width: 36px;
    max-width: 36px;
    display: flex;
    align-items: center;
}

.part.selected {
    background: #ffa50073;
}

.part {
    padding: 0 4px;
    border: white solid 1px;
    box-sizing: border-box;
    display: flex;
    transition: 100ms;
}

.edit {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: black;
}

.clip {
    background: orange;
    height: 150px;
    position: relative;
}

.clip-grap {
    height: 15%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
    cursor:grab;
}

.midi-content {
    height:85%;
    width:100%;
    position:relative;
}

.note {
    position: absolute;
    height: 4px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

#modify {
    width: 50%;
}

.grid {
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, #333 1px, transparent 1px),
        linear-gradient(to bottom, #333 1px, transparent 1px);
    overflow:hidden;
}

.node-wrap {
    position:relative;
    width:100%;
    height:100%;
    transition:10ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.node {
    position: absolute;
    background: black;
    border: 1px solid #d3d3d3;
    text-align: center;
    user-select: none;
    border-radius: 5px;
    width: 100px;
    color: white;
}

.node-title {
    padding: 10px;
    cursor: move;
    color: white;
    border: 1px solid #d3d3d3;
}
.context-menu {
  position:absolute;
  display:none;
  background:black;
  
}
.context-menu ul {
  padding:4px;
  list-style-type:none!important;
}
.context-menu li:hover {
  cursor: pointer;
  background-image:linear-gradient(#ffffffaa, #ffffffaa)
}